---

const {title,tecnologies,url,alt,description,link,live} = Astro.props

---



<article class="flex gap-4 flex-col">



  <div class="flex gap-4 flex-col">
<h3 class="text-white text-xl font-bold text-wrap">{title}</h3>
<ul class="flex  gap-2">
  { tecnologies.map((tecnology) => (
    <li class="rounded-full bg-blue-800 text-white px-1 text-sm">{tecnology}</li>
  ))

  }
</ul>
<p class="text-gray-300 text-wrap.">{description}</p>

<div class="w-full">
  <img src={url} alt={alt} class="h-full object-cover ">
</div>
<div></div>
</div>

<footer class="mt-4 flex gap-4">
  <a href={link} 
  target="_blank" rel="noopener noreferrer"
  class="py-1 px-2 bg-blue-800/80 text-white rounded-sm cursor-pointer  hover:bg-blue-800 transition-colors">Github</a>
  { live && (
    <a href={live} 
    target="_blank" rel="noopener noreferrer"
    class="py-1 px-2 bg-blue-800/80 text-white rounded-sm cursor-pointer  hover:bg-blue-800 transition-colors">Preview</a>
  )}

</footer>


</div>


</article>